{
	"extends": "airbnb-base",
	"parserOptions": {
		"ecmaVersion": 2015,
		"sourceType": "script"
	},
	"rules": {
		"comma-dangle": ["error", "never"],
		"object-curly-spacing": ["error", "never"],
		"indent": ["error", "tab"],
		"no-tabs": 0,
		"arrow-body-style": ["off"],
		"arrow-parens": ["error", "always"],
		"no-underscore-dangle": ["off"],
		"camelcase": ["error", {
			"properties": "never"
		}],
		"max-len": ["error", {
			"code": 80,
			"tabWidth": 1,
			"ignoreTemplateLiterals": true
		}],
		"function-paren-newline": ["error", "consistent"],
		"class-methods-use-this": [0],
		"global-require": ["off"],
		"no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],
		"no-else-return": ["off"],
		"consistent-return": ["off"],
		"operator-linebreak": ["error", "after"],
		"import/no-extraneous-dependencies": [
			"error", {
				"devDependencies": true,
				"optionalDependencies": false,
				"peerDependencies": false
			}
		],
		"func-names": ["off"],
		"no-param-reassign": ["off"],
		"prefer-destructuring": ["off"]
	},
	"env": {
		"mocha": true,
		"browser": true
	}
}
