doctype html
html
	head
		meta(charset="utf-8")

		title nci-ansible-ui - simple web interface for run ansible playbooks

		link(rel="icon", href="/favicon.ico?v1")

		if env === 'development'
			link(href="/css/index.css", rel="stylesheet", type="text/css")
		else
			style
				include ../static/css/index.css

	body
		#content

		if env === 'development'
			script(type="text/javascript", src="/js/app.build.js")
		else
			script
				include ../static/js/app.build.js
