- var sec = this.props.value / 1000;
- sec = sec >= 1 ? Math.round(sec) : Number(sec.toFixed(2));
- var min = sec >= 60 ? Math.round(sec / 60) : 0;
- var suffix = this.props.withSuffix ? 'in ' : '';
- var ending = min === 1 ? '' : 's';
- var title = this.props.title || sec + ' second' + ending;
span(title= title)= suffix + (min ? min + ' minunte' : sec + ' second') + ending
